.header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: rgb(14, 5, 70);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    padding-bottom: 15px;
    box-shadow: 0px 10px 9px rgb(77, 3, 126);
    color: rgb(237, 185, 15);
    z-index: 100;
}
.logo{
    width: 7%;
    padding-right: 90%;
    position: fixed;
    justify-content: left;
    z-index: 100;

}

.Credit{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: right;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding-bottom: 15px;
}

@media (max-width: 1000px) {
    .Credit{
        padding-top: 50px;
        font-size: small;
    } 
    .logo{
        width: 13%;
        padding-right: 95%;
        padding-left: 5%;
    }
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
}